{%extends 'base.html'%}
{% load bootstrap5 %}
{% load static%}

{% block content %}
{{block.super}}
<style>

#hood-title{
font-size:3vw;
color:#08403d
}
.load{
    animation: slide 5s;
}


.slider{
    height: 80vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    animation:slide 20s infinite;
    align-items: center;
    
}
.content{
    color: #ffff;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.principal{
    left: 50%;
    top:50% ;
    transform: translate(-50%,-50%) ;
    position: absolute;
    letter-spacing: 4px;
    text-align: center;

}
.principal h3{
    font-size: 35px;

}
.principal p{
    font-size:15px;
}
@keyframes slide{
    0%{
        background-image: url("https://www.kenyans.co.ke/news/50067-kenyas-richest-neighborhoods");

    }
    20%{
        background-image: url("https://www.kenyans.co.ke/news/50067-kenyas-richest-neighborhoods.jpg");
        
    }
    20.01%{
        background-image: url("https://chewychunks.wordpress.com/tag/nairobi-neighborhoods/");
        
    }
    40%{
        background-image: url("https://chewychunks.wordpress.com/tag/nairobi-neighborhoods/");
        
    }
    40.01%{
        background-image: url("https://chewychunks.wordpress.com/tag/nairobi-neighborhoods/");
        
    }
    60%{
        background-image: url("https://chewychunks.wordpress.com/tag/nairobi-neighborhoods/.jpg");
        
    }
    60.01%{
        background-image: url("https://chewychunks.wordpress.com/tag/nairobi-neighborhoods/");
        
    }
    80%{
        background-image: url("https://chewychunks.wordpress.com/tag/nairobi-neighborhoods/");
        
    }
    80.01%{
        background-image: url("https://chewychunks.wordpress.com/tag/nairobi-neighborhoods/");
        
    }
    100%{
        background-image: url("https://chewychunks.wordpress.com/tag/nairobi-neighborhoods/");
        
 
}
}
</style>
<body>
    
    <div  class="slider">
        <div class="load">
    
        </div>
        <div class="content">
            <div class="principal">
                <h1>MTAA SOCIAL</h1>
                <p class="text-center">We come together when it really matters</p>
                <br><br>
                
            </div>
        </div>
        
    </div>
    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
</body>


{% endblock %}


